<!-- <p>todo-list works!</p>-->
<div class="container">
<h1 [ngClass]="{header: showClass}">TODO list</h1>

<input type="text" [(ngModel)]="inputText">
<button (click)="addItem()">Добавить дело</button>
<!-- <button (click)="edit()">Редактировать</button> -->

<ul class="list-group">
    <app-list-item 
    (remove)="remove($event)"
    (edit)="edit($event)"
    [item]="item"
    [index]="i"
    *ngFor="let item of list; let i = index"
    ></app-list-item>
    
</ul>
</div>


<pre>{{ list | json }}</pre>