<li class="list-group-item">
    <input type="checkbox" >
    <span [ngClass]="{done: item.done}">{{ item.title }}</span>
    <span class="badge rounded-pill bg-success"  (click)="edit()">edit</span>
    <span class="badge rounded-pill bg-danger" (click)="remove()">x</span>
</li>